
<h1 id="tituloPPT">PiEdRa pApEl tIJeRa</h1>
<h3> Hacé click sobre la image para probra tu suerte contra la maquina!!</h3>


<button type="button" (click)="verificarEleccion($event)" id="btnPiedra" class="buttonPPT"></button>
    

<button type="button" (click)="verificarEleccion($event)" id="btnPapel"  class="buttonPPT"></button>
     

<button type="button" (click)="verificarEleccion($event)" id="btnTijera" class="buttonPPT"></button> 



<!-- Button trigger modal -->


<!-- 

  <div class="gallery">
    <!-- <a target="_blank" href="img_5terre.jpg"> 
      <img src="../../../assets/imagenes/piedra.jpeg" alt="Piedra" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
  
  <div class="gallery">
    <!-- <a target="_blank" href="img_forest.jpg"> 
      <img src="../../../assets/imagenes/papel.png" alt="Papel" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
  
  <div class="gallery">
    <!-- <a target="_blank" href="img_lights.jpg"> 
      <img src="../../../assets/imagenes/tijera.png" alt="Tijera" width="600" height="400">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>
 
  -->
