

<div id="matriz">
    <h1>{{Titulo}}</h1>
    <h3>{{Subtitulo}}</h3>

     <div id="sopa">
      <ul *ngFor="let linea of matrizPrincipal">
        <ul>
            <button (click)="verificar($event)" class="btnNormal" *ngFor="let obj of linea" [id]="obj.id">
            {{ obj.contenido }}
            </button>
        </ul>
    </ul><br><br> 

    <div id="wrapper">
        <button type="button" (click)="evaluar($event)" id="btnverificar" class="btn btn-success">Son todas!!</button>
    </div>
</div>
</div>
 