<p>
 
</p>
<h1> en construcción :)!</h1>

<div class="container">

        <div (click)="status=!status"  
        [ngClass]="status ? 'success' : 'danger'">                
         Some content
    </div>
    <!-- <div class="row">
        <button type="button" id="a1" [ngClass]="clasesBotones" (click)="verificar($event)">X</button>
        <button type="button" id="a2" [ngClass]="clasesBotones" (click)="verificar($event)">X</button>
        <button type="button" id="a3" class="btnNormal">X</button>
        <button type="button" id="a4" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
    </div>
    <div class="row">
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
    </div>
    <div class="row">
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
    </div>
    <div class="row">
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
    </div>
    <div class="row">
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
    </div>
    <div class="row">
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
    </div>
    <div class="row">
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
    </div>
    <div class="row">
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
    </div>
    <div class="row">
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
    </div> -->
  </div>