<p>
 
</p>
<h1>{{Titulo}}</h1>

<input [(ngModel)]="name" #ctrl="ngModel" required> 
<p>Value: {{ name }}</p>
<button (click)="setValue()">Set value</button>

<div class="container">
     <div class="row">        
        <button (click)="status=!status" class="btnNormal" id="ww"[ngClass]="status ? 'success' : 'danger'">{{cA1}}</button>
        <button (click)="status=!status" class="btnNormal" id="xx"[ngClass]="status ? 'success' : 'danger'">{{cA2}}</button>


        
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
    </div>
    <!--<div class="row">
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
    </div>
    <div class="row">
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
    </div>
    <div class="row">
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
    </div>
    <div class="row">
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
    </div>
    <div class="row">
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
    </div>
    <div class="row">
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
    </div>
    <div class="row">
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
    </div>
    <div class="row">
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
        <button type="button" id="#" class="btnNormal">X</button>
    </div> -->
  </div>