<!--div *ngFor="let juego of listado">

<p> {{juego.nombre}} </p>
<p> {{juego.jugador}} </p>

</div-->

<table class="table table-hover table-dark">
    <thead>
      <tr>
        <!-- <th>Juego</th> -->
        <th>Jugador</th>
        <th>Juego</th>
        <th>Puntos</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let juego of lista">
        <td>{{juego.id_jugador}} </td>
        <td>{{juego.juego}} </td> 
        <td>{{juego.puntaje}} </td> 
        <td *ngIf="juego.gano">Gano </td>   
        <td *ngIf="!juego.gano">Perdio</td>     
      </tr>
     
    </tbody>
  </table>