<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
<link rel="stylesheet" href="//brick.a.ssl.fastly.net/Roboto:400" />

<script>
  // Get the modal
  var modal = document.getElementById('id02');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>


<div id="id02" class="modal">
  <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content animate">
    <div class="container">
      <h3 id="mensajeModal">{{mensajeResultado}}</h3>

      <div class="clearfix">
        <a type="button" class="btn" onclick="document.getElementById('id02').style.display='none'">Volver al juego</a>
        <a type="button" class="btn" routerLink="/Principal">Ir a menu de inicio</a>
      </div>

    </div>
  </form>
</div>


<form class="formJuego">

  <div class="formContenido" style="text-align:center" id="cabeceraNumero">
    <h1>
      {{nombreJuego}}!
    </h1>
  </div>
  <h2></h2>

  <form class="formContenido" name="juego">
    <label>Palabra: </label>
    <h1>{{nuevoJuego.palabraAnagrama}} </h1>

    <label>Ingrese su palabra: </label> <input [(ngModel)]="palabraIngresada" placeholder="ingresá tu palabra" name="numeroIngresado"
      type="text" class="form-control" style="width:50%" />
    <h1>{{palabraIngresada }} </h1>

    <a type="button" (click)="verificarPalabra()" class="btn">Verificar</a>

    <a type="button" (click)="generarPalabra()" class="btn">Próxima Palabra</a>


  </form>

  <div id="snackbar">{{Mensajes}}</div>


</form>